.content {
	padding-top: 40px;
	color: #FFFFFF;
	min-height: 350px;
}

.mainText {
	color: #000000;
}

.stepNotifier > .container {
    position: relative;
}

.stepNotifier > .container > p:after {
    width: 0;
    height: 0;
    border-right: 10px inset transparent;
    border-left: 10px inset transparent;
    border-bottom: 10px solid rgb(53,66,78);
    position: absolute;
    content: "";
    top: 30px;
    left: 30px;
}