*{
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}

body {
	background: rgb(53,66,78);
}

.navbar .brand {
	width: 112px;
	height: 48px;
	background-image:url('../img/logo_1.png');
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar .nav {
	margin-top: 5px;
}

form.navbar-search {
	margin-top: 10px;
}

form.navbar-search>input[type="submit"] {
	margin-bottom: auto;
	margin-top: auto;
}

form.navbar-search>input[type="text"] {
	margin-bottom: auto;
	margin-top: auto;
}

.navbar .nav>li>a {
	color: #0088cc;
}

header.stepNotifier {
	background: #FFFFFF;
}

li.muted {
	padding-top: 10px;
	padding-bottom: 10px;
}

.copyright {
	float: left;
	margin-top: 10px;
}

footer.footer {
	margin-top: 0;
	background: rgb(53,66,78);
}