.jumbotron {
	border-width: 0;
	min-height: 350px;
    background: rgb(13,73,154) url('../img/image_hero_1.png') no-repeat center bottom;
}

header.jumbotron div.container>div{
	padding-top: 50px;
	padding-left: 150px;
}

header.jumbotron div.container h2 {
	width: 360px;
}

.content {
	padding-top: 40px;
	color: #FFFFFF;
	min-height: 350px;
    background: url('../img/image_hero_2.png') no-repeat center bottom;
}
