.content {
	background-color: #FFFFFF;
}

.productList > li.span3 > ul {
	margin-left: 0;
}

.productList > li.span3 > ul > li {
	list-style:none;
	margin-top: 5px;
	margin-bottom: 5px;
}

.productList > li.span3 > ul > li > * {
	margin-top: 0;
	margin-bottom: 0;
}