
<style>

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    padding: 0.5em 0;
    position: relative;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
	background-color:transparent;
    color: #000000;
}
.nav-pills > .active > a:after {
    width: 0;
    height: 0;
    border-right: 10px inset transparent;
    border-left: 10px inset transparent;
    border-bottom: 10px solid #CCCCCC;
    position: relative;
    content: "";
    bottom: 12px;
    left: 50px;
}
[class*="span"] {
    margin-left: 0;
}
.nav {
    margin-bottom: 0px;
    margin-left: 0;
}
.nav-pills > li > a {
    margin-bottom: 0;
    padding-bottom: 0;
}
.navbar-form {
    background-color: #CCCCCC;
    margin-bottom: 0;
    padding: 15px;
    overflow:hidden;
}
.btn-custom {
  background-color: hsl(62, 0%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9b9b9b", endColorstr="#595959");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#9b9b9b), to(#595959));
  background-image: -moz-linear-gradient(top, #9b9b9b, #595959);
  background-image: -ms-linear-gradient(top, #9b9b9b, #595959);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b9b9b), color-stop(100%, #595959));
  background-image: -webkit-linear-gradient(top, #9b9b9b, #595959);
  background-image: -o-linear-gradient(top, #9b9b9b, #595959);
  background-image: linear-gradient(#9b9b9b, #595959);
  border-color: #595959 #595959 hsl(62, 0%, 28.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
  -webkit-font-smoothing: antialiased;
}
</style>
<script>
   $(document).ready(function() {
		$('#vmDetailTab a:first').tab('show');
   });
</script>
<div class="container span8">
   <ul class="nav nav-pills" id="vmDetailTab">
      <li>
         <a href="#tabDetail" data-toggle="tab">
            <h4>VM Management</h4>
         </a>
      </li>
      <li>
         <a href="#tabChart" data-toggle="tab">
            <h4>Performance</h4>
         </a>
      </li>
   </ul>
   <div class="tab-content span8">
      <div class="tab-pane" id="tabDetail">
	  <!-- tab-pane start -->
		<form class="navbar-form pull-left span7">
		  <a class="btn" href="#"><i class="icon-refresh"></i> Refresh</a>
		  <a class="btn" href="#"><i class="icon-play"></i> Run</a>
		  <a class="btn" href="#"><i class="icon-stop"></i> Shutdown</a>
		  <a class="btn" href="#"><i class="icon-share-alt"></i> Resume</a>
		  <div style="display: inline-block;" class="pull-right">
		  <a class="btn btn-custom" href="#"><i class="icon-download-alt"></i> Save as image</a>
		  </div>
		  
		</form> 
         <div class="row span7">
            <table class="table table-striped display">
               <thead>
                  <tr>
                     <th>Field name</th>
                     <th>Value</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>internel id</td>
                     <td>$instance.id</td>
                  </tr>
                  <tr>
                     <td>name</td>
                     <td>$instance.name</td>
                  </tr>
                  <tr>
                     <td>create time</td>
                     <td>$instance.createTime</td>
                  </tr>
                  <tr>
                     <td>status</td>
                     <td>$instance.status</td>
                  </tr>
                  <tr>
                     <td>instance image</td>
                     <td>$instance.instanceImage</td>
                  </tr>
                  <tr>
                     <td>private IP</td>
                     <td>$instance.privateIp</td>
                  </tr>
                  <tr>
                     <td>resource policy</td>
                     <td>$instance.resourcePolicy</td>
                  </tr>
               </tbody>
            </table>
         </div>		
	  <!-- tab-pane end -->
      </div>

      <div class="tab-pane" id="tabChart">
		<form class="navbar-form pull-left span7">
		  <a class="btn btn-large" href="#"><i class="icon-refresh"></i> Refresh</a>
		  <a class="btn btn-large" href="#"><i class="icon-play"></i> Run</a>
		  <a class="btn btn-large" href="#"><i class="icon-stop"></i> Shutdown</a>
		  <a class="btn btn-large" href="#"><i class="icon-share-alt"></i> Resume</a>
		  <div style="display: inline-block;" class="pull-right">
		  <a class="btn btn-large" href="#"><i class="icon-arrow-down"></i> Save as image</a>
		  </div>
		  
		</form> 
         <div class="row span7">
         </div>
      </div>

   </div>
   <!-- tab-content -->
</div>
